* {
  margin: 0px;
  padding: 0px; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: oswald;
  src: url(../../fuentes/Oswald-ExtraLight.ttf); }

@font-face {
  font-family: nunito;
  src: url(../../fuentes/Nunito-MediumItalic.ttf); }

@font-face {
  font-family: amatic;
  src: url(../../fuentes/AmaticSC-Bold.ttf); }

@keyframes rotacionMoneda {
  0% {
    transform: skew(0deg); }
  25% {
    transform: rotate3d(0, 1, 0, 90deg); }
  50% {
    transform: rotate3d(0, 1, 0, 180deg); }
  75% {
    transform: rotate3d(0, 1, 0, 270deg); }
  100% {
    transform: rotate3d(0, 1, 0, 360deg); } }

.rotacion {
  animation-name: rotacionMoneda;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2s; }

h1 {
  font-family: amatic;
  font-size: 20rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white; }
  @media (min-width: 368px) and (max-width: 767px) {
    h1 {
      font-family: amatic;
      font-size: 8.5rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      margin-top: 1rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    h1 {
      font-family: amatic;
      font-size: 13rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: white; } }

h3 {
  font-family: oswald;
  font-size: none;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color: white; }

h4 {
  font-family: oswald;
  font-size: 4rem;
  text-align: none;
  text-decoration: underline;
  text-transform: uppercase;
  color: white; }

p {
  font-family: nunito;
  font-size: 2rem;
  text-align: justify;
  text-decoration: none;
  text-transform: none;
  color: white;
  margin: 2rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    p {
      font-size: 1.7rem; } }

section {
  background-image: url(../../imagenes/fondo-section.jpg);
  background-size: cover;
  width: 100%;
  height: 100%; }

.alineacion, .banner, #iconosRotando, .article__criptomonedas, #videoSection, .article__ayuda {
  justify-content: center;
  align-items: center; }

.espaciadoAround, .banner, .elementos, .article__index, #iconosRotando, #iconoEstatico, .article__criptomonedas, .imagenCripto, .article__blockchain, .tablaYfuncionamiento, .article__mercados {
  justify-content: space-around; }

.espaciadoBeetwen, .titleLink, #videoSection {
  justify-content: space-between; }

.flex-row, .banner, .elementos, #iconosRotando, #iconoEstatico, .titleLink, #videoSection, .tablaYfuncionamiento, .article__mercados, .article__ayuda {
  display: flex;
  flex-direction: row; }

.flex-column, #infoCriptos, #infoFuturos, .article__criptomonedas, .sizeCard #btc, .sizeCard #eth, .sizeCard #tusd, .sizeCard #bnb, .sizeCard #usdc, .imagenCripto, .article__blockchain, #funcionamientoSection, #tablaSection, .tarjetaContorno, .tarjetaCuerpo {
  display: flex;
  flex-direction: column; }

.flex-rowReverse {
  display: flex;
  flex-direction: row-reverse; }

.flex-columnReverse, .article__index {
  display: flex;
  flex-direction: column-reverse; }

.seteoImg {
  width: 80rem;
  height: 80rem;
  margin-bottom: 1rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    .seteoImg {
      width: 100%;
      height: 40rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .seteoImg {
      width: 100%;
      height: 60rem; } }

.banner {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 3px 0px rgba(0, 0, 0, 0.61);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }
  @media (min-width: 368px) and (max-width: 767px) {
    .banner {
      flex-direction: column; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .banner {
      flex-direction: column; } }

form {
  width: 60rem;
  height: 65rem;
  margin: 2rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    form {
      width: 99%;
      height: 100%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    form {
      width: 52rem;
      height: 100%; } }

fieldset {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  padding: 5rem;
  width: 100%;
  height: 100%; }
  @media (min-width: 368px) and (max-width: 767px) {
    fieldset {
      padding: 0rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    fieldset {
      width: 90%; } }
  fieldset legend {
    font-family: amatic;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: white; }
  fieldset ol {
    list-style: none; }
    fieldset ol li {
      font-family: oswald;
      color: white;
      padding: 0.5rem;
      font-size: 1.5rem; }
      fieldset ol li label {
        color: white;
        font-size: 2rem;
        margin: 1rem; }
      fieldset ol li ul li {
        list-style: none;
        font-size: 1.5rem;
        text-align: justify; }
  fieldset input.btn {
    background-color: white;
    color: black;
    padding: 0.7rem;
    margin: 0.4rem;
    font-size: 1.5rem; }
    @media (min-width: 368px) and (max-width: 767px) {
      fieldset input.btn {
        font-size: 1.3rem; } }
  fieldset input[name=nombre] {
    border: 1px solid black;
    margin: 0rem 0rem 0rem 1.9rem; }
  fieldset input[name=apellido] {
    border: 1px solid black;
    margin: 0rem 0rem 0rem 1.9rem; }
  fieldset input[type=email] {
    border: 1px solid black;
    margin: 0rem 0rem 0rem 3.1rem; }
    @media (min-width: 368px) and (max-width: 767px) {
      fieldset input[type=email] {
        margin-left: 2.9rem; } }
  fieldset input[type=radio] {
    margin: 0.5rem 0.5rem 1rem 2rem; }
  fieldset input[type=checkbox] {
    margin: 0.5rem 0.5rem 0rem 2rem; }
  fieldset textarea {
    border: 1px solid black;
    margin: 0rem 0rem 0rem 1.2rem; }
  fieldset select {
    margin: 1rem 0rem 1rem 2rem; }

footer {
  width: 100%;
  height: 10rem;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.74); }
  footer div {
    background-color: #3B4154; }
  footer h5 {
    margin-top: 1rem;
    font-family: oswald;
    font-size: 2.2rem;
    text-align: none;
    text-decoration: underline;
    text-transform: none;
    color: white; }
    @media (min-width: 368px) and (max-width: 767px) {
      footer h5 {
        margin: 0rem; } }
  footer p {
    font-size: 2rem; }
  footer ul {
    font-family: nunito; }
    footer ul li {
      list-style: none; }
      footer ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.7rem; }
        footer ul li a:hover {
          color: aqua; }

@media (min-width: 368px) and (max-width: 767px) {
  .elementos {
    flex-direction: column;
    align-items: center; } }

.iconos {
  width: 35px;
  height: 35px; }

nav {
  width: 100%;
  height: 100%; }
  nav ul {
    justify-content: end;
    font-family: oswald;
    font-size: 2.5rem;
    margin-top: 0rem;
    background-color: #3B4154; }
    @media (min-width: 368px) and (max-width: 767px) {
      nav ul {
        justify-content: center;
        font-size: 2rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      nav ul {
        justify-content: center; } }
    nav ul li ul li {
      text-align: center; }
      nav ul li ul li a {
        font-size: 2rem;
        text-transform: uppercase;
        color: white; }

.nav-link {
  color: white;
  text-transform: uppercase; }
  .nav-link:hover {
    color: white; }
  .nav-link:focus {
    color: white; }

.dropdown-menu.show {
  width: 100%; }

.dropdown-item {
  text-transform: uppercase; }

.article__index {
  width: 100%;
  height: 100%; }

#infoCriptos {
  margin: 3rem 0rem 5rem 0rem; }
  #infoCriptos h3 {
    font-size: 4.5rem; }
    @media (min-width: 368px) and (max-width: 767px) {
      #infoCriptos h3 {
        font-size: 3rem; } }
  @media (min-width: 368px) and (max-width: 767px) {
    #infoCriptos {
      width: 100%;
      height: 100%;
      margin: 0rem; } }
  @media (min-width: 368px) and (max-width: 767px) {
    #infoCriptos p {
      font-size: 1.5rem; } }

#infoFuturos {
  margin: 3rem 0rem 5rem 0rem; }
  #infoFuturos h3 {
    font-size: 4.5rem; }
    @media (min-width: 368px) and (max-width: 767px) {
      #infoFuturos h3 {
        font-size: 3rem; } }
  @media (min-width: 368px) and (max-width: 767px) {
    #infoFuturos {
      width: 100%;
      height: 100%; } }
  @media (min-width: 368px) and (max-width: 767px) {
    #infoFuturos p {
      font-size: 1.5rem; } }

#iconosRotando {
  width: 31rem;
  height: 5rem; }
  #iconosRotando .iconos {
    width: 45px;
    height: 45px; }
  @media (min-width: 368px) and (max-width: 767px) {
    #iconosRotando {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    #iconosRotando {
      display: none; } }

#iconoEstatico {
  width: 54rem;
  height: 6rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    #iconoEstatico {
      width: 100%;
      height: 6rem;
      justify-content: center; } }
  #iconoEstatico .iconos {
    width: 95px;
    height: 95px; }
    @media (min-width: 368px) and (max-width: 767px) {
      #iconoEstatico .iconos {
        width: 70px;
        height: 70px; } }

.article__criptomonedas {
  width: 100%;
  height: 250rem; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .article__criptomonedas {
      width: 100%;
      height: 100%; } }

.iconoSize {
  width: 70px;
  height: 70px;
  margin-right: 5rem;
  transition: all 1s ease; }
  .iconoSize:hover {
    transform: scale(1.1); }
  @media (min-width: 368px) and (max-width: 767px) {
    .iconoSize {
      width: 50px;
      height: 50px;
      margin-top: 1rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .iconoSize {
      width: 60px;
      height: 60px; } }

.sizeCard {
  width: 75%;
  height: 38rem;
  padding: 3rem;
  border-radius: 10px;
  background-image: radial-gradient(circle at 116.45% 25.82%, #774d64 0, #6e4260 12.5%, #63375e 25%, #552b5b 37.5%, #441f59 50%, #2e1557 62.5%, #091056 75%, #000c56 87.5%, #000355 100%);
  color: white;
  margin: 3rem 0rem 3rem 0rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    .sizeCard {
      width: 95%;
      height: 50rem;
      padding: 0rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .sizeCard {
      width: 95%;
      height: 36rem;
      padding: 1rem; } }
  .sizeCard:hover {
    box-shadow: 0px 0px 7px 8px rgba(0, 0, 0, 0.61);
    transition: all 1s ease; }
    .sizeCard:hover .imgCard {
      transform: scale(1.05); }
      @media (min-width: 768px) and (max-width: 1024px) {
        .sizeCard:hover .imgCard {
          transform: none; } }
    .sizeCard:hover #btc .barra {
      width: 150px; }
      @media (min-width: 368px) and (max-width: 767px) {
        .sizeCard:hover #btc .barra {
          width: 125px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .sizeCard:hover #btc .barra {
          width: 125px; } }
    .sizeCard:hover #eth .barra {
      width: 215px; }
      @media (min-width: 368px) and (max-width: 767px) {
        .sizeCard:hover #eth .barra {
          width: 165px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .sizeCard:hover #eth .barra {
          width: 165px; } }
    .sizeCard:hover #tusd .barra {
      width: 135px; }
      @media (min-width: 368px) and (max-width: 767px) {
        .sizeCard:hover #tusd .barra {
          width: 115px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .sizeCard:hover #tusd .barra {
          width: 115px; } }
    .sizeCard:hover #bnb .barra {
      width: 95px; }
      @media (min-width: 368px) and (max-width: 767px) {
        .sizeCard:hover #bnb .barra {
          width: 80px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .sizeCard:hover #bnb .barra {
          width: 80px; } }
    .sizeCard:hover #usdc .barra {
      width: 128px; }
      @media (min-width: 368px) and (max-width: 767px) {
        .sizeCard:hover #usdc .barra {
          width: 100px; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .sizeCard:hover #usdc .barra {
          width: 100px; } }
  .sizeCard h4 {
    font-size: 5rem;
    margin-left: 2rem;
    text-decoration: none;
    text-transform: none; }
  @media (min-width: 368px) and (max-width: 767px) {
    .sizeCard #btc p {
      font-size: 1.4rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .sizeCard #btc p {
      font-size: 1.5rem; } }
  .sizeCard #btc .barra {
    background-color: yellow; }
  @media (min-width: 368px) and (max-width: 767px) {
    .sizeCard #eth p {
      font-size: 1.4rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .sizeCard #eth p {
      font-size: 1.5rem; } }
  .sizeCard #eth .barra {
    background-color: blue; }
  @media (min-width: 368px) and (max-width: 767px) {
    .sizeCard #tusd p {
      font-size: 1.4rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .sizeCard #tusd p {
      font-size: 1.5rem; } }
  .sizeCard #tusd .barra {
    background-color: green; }
  @media (min-width: 368px) and (max-width: 767px) {
    .sizeCard #bnb p {
      font-size: 1.4rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .sizeCard #bnb p {
      font-size: 1.5rem; } }
  .sizeCard #bnb .barra {
    background-color: yellow; }
  @media (min-width: 368px) and (max-width: 767px) {
    .sizeCard #usdc p {
      font-size: 1.4rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .sizeCard #usdc p {
      font-size: 1.5rem; } }
  .sizeCard #usdc .barra {
    background-color: blue; }

@media (min-width: 368px) and (max-width: 767px) {
  .imagenCripto {
    display: none; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .imagenCripto {
    justify-content: start; } }

.imgCard {
  width: 28rem;
  height: 28rem;
  transition: all 1s ease; }
  @media (min-width: 368px) and (max-width: 767px) {
    .imgCard {
      width: 5rem;
      height: 5rem;
      transition: none;
      margin: 1rem 0rem 0rem 1rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .imgCard {
      width: 10rem;
      height: 10rem;
      transition: none;
      margin: 1rem 0rem 0rem 1rem; } }

.barra {
  width: 75px;
  height: 5px;
  border-radius: 1px;
  margin-left: 2rem;
  transition: width 1s ease; }

.article__blockchain {
  width: 100%;
  height: 100%; }

.videoSize {
  width: 75rem;
  height: 45rem;
  margin: 2rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    .videoSize {
      width: 35rem;
      height: 25rem;
      margin: 0rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .videoSize {
      width: 60rem;
      height: 45rem; } }

#videoSection {
  width: 100%;
  height: 55rem;
  margin: 3rem 0rem 2rem 0rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    #videoSection {
      flex-direction: column;
      margin-bottom: 4rem;
      height: 100%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    #videoSection {
      flex-direction: column;
      height: 100%; } }
  #videoSection h4 {
    margin-left: 5rem; }
    @media (min-width: 368px) and (max-width: 767px) {
      #videoSection h4 {
        font-size: 3rem;
        margin: 0rem;
        text-align: center; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      #videoSection h4 {
        font-size: 4rem;
        margin: 0rem;
        text-align: center; } }
  #videoSection p {
    font-size: 2.5rem;
    padding: 3rem; }
    @media (min-width: 368px) and (max-width: 767px) {
      #videoSection p {
        font-size: 1.4rem;
        padding: 0rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      #videoSection p {
        font-size: 2rem;
        padding: 0rem; } }

@media (min-width: 368px) and (max-width: 767px) {
  .tablaYfuncionamiento {
    flex-direction: column; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .tablaYfuncionamiento {
    flex-direction: column; } }

#funcionamientoSection h4 {
  margin-bottom: 1rem;
  text-align: center; }
  @media (min-width: 368px) and (max-width: 767px) {
    #funcionamientoSection h4 {
      font-size: 3rem;
      margin-top: 2rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    #funcionamientoSection h4 {
      margin-top: 2rem; } }

#funcionamientoSection img {
  width: 70rem;
  height: 70rem;
  margin-bottom: 2rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    #funcionamientoSection img {
      width: 35rem;
      height: 35rem;
      margin-left: 1rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    #funcionamientoSection img {
      width: 60rem;
      height: 60rem;
      margin-left: 9rem; } }

#tablaSection h4 {
  text-align: center;
  margin: 2rem; }

#tablaSection table {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
  margin-bottom: 3rem; }
  #tablaSection table tr {
    color: white;
    border: 1px solid white; }
    #tablaSection table tr th {
      border: 1px solid white;
      text-align: center;
      padding: 4px; }
    #tablaSection table tr td {
      border: 1px solid white;
      padding: 4px;
      font-weight: 500; }

#tablaSection #columnaPrincipal {
  font-weight: 700;
  font-size: 1.5rem; }

@media (min-width: 368px) and (max-width: 767px) {
  #tablaSection {
    display: none; } }

.article__mercados {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 5rem; }

.tarjetaContorno {
  width: 47rem;
  height: 75rem;
  border: 1px solid black;
  margin: 3rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    .tarjetaContorno {
      width: 100%;
      height: 100%;
      margin: 1rem; } }
  .tarjetaContorno h2 {
    font-size: 3rem;
    margin-left: 1rem;
    text-transform: uppercase; }
  .tarjetaContorno .tarjetaContorno--cabezal {
    width: 47rem;
    height: 4rem;
    font-family: oswald;
    background-color: rgba(255, 255, 255, 0.8); }
    @media (min-width: 368px) and (max-width: 767px) {
      .tarjetaContorno .tarjetaContorno--cabezal {
        width: 100%;
        height: 100%; } }

.tarjetaCuerpo {
  width: 47rem;
  height: 75rem;
  background-image: linear-gradient(0, #8f56ff 0, #3b38ff 50%, #0021e7 100%);
  border-radius: 0px 0px 10px 10px; }
  @media (min-width: 368px) and (max-width: 767px) {
    .tarjetaCuerpo {
      width: 100%;
      height: 100%; } }
  .tarjetaCuerpo img {
    width: 45rem;
    height: 25rem;
    margin: 1rem 0rem 1rem 0rem; }
    @media (min-width: 368px) and (max-width: 767px) {
      .tarjetaCuerpo img {
        width: 100%;
        height: 100%; } }
  .tarjetaCuerpo p {
    margin: 1rem;
    font-size: 1.5rem; }
    @media (min-width: 368px) and (max-width: 767px) {
      .tarjetaCuerpo p {
        font-size: 1.4rem; } }
  .tarjetaCuerpo button {
    font-family: oswald;
    font-size: 2rem;
    text-align: none;
    text-decoration: none;
    text-transform: uppercase;
    color: none;
    width: 9rem;
    height: 4rem;
    margin: 1rem;
    border: none;
    font-weight: 500;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none; }
    .tarjetaCuerpo button:hover {
      background-color: #23c483;
      box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
      transform: translateY(-7px); }
      @media (min-width: 368px) and (max-width: 767px) {
        .tarjetaCuerpo button:hover {
          box-shadow: none;
          transform: none; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .tarjetaCuerpo button:hover {
          box-shadow: none;
          transform: none; } }
    .tarjetaCuerpo button:active {
      transform: translateY(-1px); }
      @media (min-width: 368px) and (max-width: 767px) {
        .tarjetaCuerpo button:active {
          transform: none; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .tarjetaCuerpo button:active {
          transform: none; } }
    .tarjetaCuerpo button a {
      text-decoration: none;
      color: black; }

.article__ayuda {
  width: 100%;
  height: 100rem; }
  @media (min-width: 368px) and (max-width: 767px) {
    .article__ayuda {
      height: 100%;
      flex-direction: column; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .article__ayuda {
      height: 100%;
      flex-direction: column; } }
