
/* --------------------------------------------------- FORMATEO HTML ------------------------------------------------------------ */
* {
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
}

/* --------------------------------------------------- FUENTES EXPORTADAS ------------------------------------------------------------ */
@font-face {
    font-family: "bebas";
    src: url(../fuentes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family:"flowers" ;
    src: url(../fuentes/SendFlowers-Regular.ttf);
}

/* --------------------------------------------- DEFINICION DE GRILLA Y ASIGNACION DE LAS AREAS -------------------------------------------------- */

#grilla {
    display: grid;
    grid-template-areas:
    "header header header"
    "section section section"
    "footer footer footer";
    grid-template-rows: 6rem auto  8rem; 
    grid-template-columns: 15% auto 30%;
}


.header{
    display: flex;
    justify-content: space-between;
    grid-area: header;
    background-color: #1A132F;
}

section{
    display: flex;
    flex-direction: column;
    grid-area: section;
    background-color: #F7E2E2;
    
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
    background-color: #5B7DB1;
    border: solid 1px black;
}


/* --------------------------------------------- DEFINICION DE HEADER Y SUS HIJOS ------------------------------------------------------------------ */

.subheader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sizeIcono{
    width: 50%;
    height: 50%;
    margin-left: 2rem;
}

.header nav{
    align-self: center;
}

.header nav ul{
    display: flex;
    list-style: none;
}

.header nav ul li{
    margin: 10px;
    transition: 0.3s;
    padding: 1.5rem;

}

.header nav ul li a{
    text-decoration: none;
    font-size: 3rem;
    font-family: "bebas";
    color: white;
}

.header nav ul li:hover {
    transform: translateY(-8px);
}

.header nav ul ul{
    position: absolute;
    display:none;
    background-color: #1A132F;
    border: solid 1px black;
    z-index: 2;
}

.header nav ul li:hover ul{
    display: block;
}

.header nav ul li ul li{
    padding: 0rem;
    margin: 0.5rem;
}



.pagina__titulo{
    font-size: 6rem;
    color: white;
    font-family:"bebas";
}

/* --------------------------------------------- DEFINICION DE FOOTER Y SUS HIJOS ------------------------------------------------------------------ */

/* --------------- DEFINICION DE ANIMACION PARA ICONOS DE REDES---------- */
@keyframes vibrar {
    50% {
    transform: translateX(3px) rotate(2deg);
    }
    100% {
    transform: translateX(-3px) rotate(-2deg);
    }
}
.vibrar {
    transform: perspective(1px) translateZ(0);
}
.vibrar:hover{
    animation-name: vibrar;
    animation-duration: 0.20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.piePagina_Autor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.estiloAutor{
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: "bebas";
    text-decoration: underline;
}

.estiloTxtAutor{
    color: black;
    font-size: 20px;
    font-family: "bebas";
    font-weight:bold ;
}

.piePagina_redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.estiloRedes{
    font-size: 25px;
    font-family: "bebas";
    color: black;
    text-decoration: underline;
}

.sizeIconSocial{
    width: 45px;
    height: 45px;
}


/* --------------------------------------------- CLASES QUE SE USAN EN TODO EL PROYECTO ---------------------------------------------------------- */


.efectoParallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.estiloTxt{
    margin: 1rem;
    padding: 3rem;
    font-size: 3rem;
    font-family: "flowers";
    text-align: left;
    font-weight: bold;
}

.estiloTituloBannerNegro{
    text-align: center;
    font-family: "bebas";
    font-size: 12rem;
    text-shadow: 0px 0px 2px white;
}

.estiloTituloBannerBlanco{
    color: white;
    font-family: "bebas";
    font-size: 12rem;
    text-shadow: 0px 0px 5px black;
}

#bannerSize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 23rem;
    margin-top: 1rem;
    border: solid 1px black;
}

/* --------------------------------------------- SECCION INDEX ------------------------------------------------------------------ */


.img_finanzas{
    background-image: url(../imagenes/finanzas-img.jpg);
}
.img_criptos{
    background-image: url(../imagenes/banner-index.jpg);
}

/* --------------------------------------------- SECCION CRIPTOMONEDAS ------------------------------------------------------------------ */

.criptosBanner{
    background-image: url(../imagenes/background-img.jpg);
}

.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30rem;
    justify-content: space-around;
    margin: 15rem 0rem 15rem 0rem;
}

.orden__tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estilo__icono{
    width: 23rem;
    height: 23rem;
    margin: 1rem;
    
}

.estiloBoton{
    font-family: "bebas";
    font-size: 2rem;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);
    border: solid 1px black;
    padding: 0.5rem;
    transition-duration: 0.3s;
}

.estiloBoton:hover{
    border-radius: 2rem;
}

.reset{
    color: white;
    text-decoration: none;
}

.monedas{
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    height: 200rem;
}

.videoIzq{
    display: flex;
    flex-direction: row;
    height: 35rem ;
    background-color: #5B7DB1;
}

.videoDer{
    display: flex;
    flex-direction: row-reverse;
    height: 35rem ;
    background-color: #5B7DB1;
}

.tamañoVideo{
    height: 100%;
    width: 50rem;
}

.orden__descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* --------------------------------------------- SECCION BLOCKCHAIN ------------------------------------------------------------------ */

.bannerBlockchain{
    background-image: url(../imagenes/blockchain-img.jpg);
    border: solid 1px white;
}

.titulos__blockchain{
    color: black;
    font-size: 4rem;
    font-family: "bebas";
    text-decoration: underline;
    margin: 1rem;
}

#blockchain__info{
    display: flex;
    flex-direction: row;
}

.blockchain__info--videTabla{
    display: flex;
    flex-direction: column;
    height: 110rem;
    justify-content: space-evenly;
}

#blockchain__video{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}

.videoBlock{
    width: 80rem;
    height: 40rem;
}

#blockchain__tabla{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}

.estiloTabla{
    margin: 5px;
    width: 80rem;
    height: 40rem;
    background-image: url(../imagenes/tabla-img.jpg);
    background-size: cover;
    background-position: center;
    border-collapse: collapse; 
}

td,th { 
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid white;
    text-shadow: 0px 0px 10px black; 
    color: white;
    padding: 2px 5px 2px 5px;
}


#blockchain__flujo{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin-top: 5rem;
}

.estiloTxtParrafo{
    margin: 1rem;
    font-size: 3rem;
    text-align: justify;
    font-family: "flowers";
    font-weight: bold;
}

.img__blockchain--flujo{
    width: 68rem;
    height: 81rem;
    border: solid 1px black;
}

.blockchain__flujo--descripcion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* --------------------------------------------- SECCION MERCADOS ------------------------------------------------------------------ */


#mercados__article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 240rem;
}


.imgMercados{
    background-image: url(../imagenes/exchangeBanner-img.jpg);
    background-color: #5B7DB1;
}

.paginaDer{
    display: flex;
    flex-direction: row;
    background-color: #5B7DB1;
}

.paginaIzq{
    display: flex;
    flex-direction: row-reverse;
    background-color: #5B7DB1;
}

.tituloYparrafo{
    width: 50%;
    height: auto;
}

.imgLink{
    width: 50%;
    height: 100%;
}

.img__mercados--secciones{
    width: 80rem;
    height: 100%;
}

.descripcionTitulo{
    font-family: "bebas";
    font-size: 8rem;
    text-decoration: underline;
    text-align: center;
}

.estiloTxtDescripciones{
    font-family: "flowers";
    font-size: 3rem;
    line-height: 0.9;
    font-weight: bold;
    margin: 2rem;
    text-align: justify;
}




/* --------------------------------------------- SECCION AYUDA ------------------------------------------------------------------ */

#fondo__ayuda{
    background-image:url(../imagenes/fondo_ayuda.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.ubicacionTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.formularios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 80rem;
}

.formulario__size{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.ubicacionBotones{
    text-align: center;
}

form{
    width: 60rem;
    height: 50rem;
}

#form1 {
    border:1px solid #5B7DB1;
    background-color:#F9F7F7 ;
    padding: 5rem;
    margin: 1rem;
    width: 70%;
    height: 80%;
}
#form1 legend{
    font-size: 2.5rem;
    font-family: "bebas";
    text-align: center;
    text-decoration: underline;
    background-color:#F9F7F7 ;
    
}
#form1 ol{
    list-style:none;
}
#form1 ol li{
    padding: 0.5rem;

}
#form1 ol li label{
    font-size: 2rem;
    font-family: "bebas";
    
}
#form1 input[name=nombre] {
    border:1px solid black;
    margin: 0rem 0rem 0rem 1.9rem;
}
#form1 input[name=apellido] {
    border:1px solid black;
    margin: 0rem 0rem 0rem 1.3rem;
}
#form1 input[type=email] {
    border:1px solid black;
    margin: 0rem 0rem 0rem 2.7rem;
}
#form1 textarea{
    border:1px solid black;
    margin: 0rem 0rem 0rem 1rem;
}
#form1 input.btn {
    padding:0.5rem;
    color:white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border:1px solid #000000;
    margin: 0.4rem;
}

#form2 {
    border:1px solid #5B7DB1;
    background-color:#F9F7F7 ;
    padding: 4rem;
    margin: 1rem;
    width: 70% ;
    height: 100%;
}
#form2 legend{
    font-size: 2.5rem;
    font-family: "bebas";
    text-align: center;
    text-decoration: underline;
    background-color:#F9F7F7 ;
}
#form2 ol{
    list-style:none;
}
#form2 ol li{
    font-size: 1.5rem;
    font-family: "bebas";
    letter-spacing: 0.1rem;
}
#form2 ol li label{
    width:100%;
    float:left;
    text-align:left;
    font-size: 2rem;
    font-family: "bebas";
    text-decoration: underline;

}
#form2 input.btn {
    padding:0.5rem;
    color:white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border:1px solid #000000;
    margin: 0.4rem;
}
#form2 input[type=radio]{
    margin: 0.5rem 0rem 1rem 2rem;
}
#form2 input[type=checkbox]{
    margin: 0.5rem 0rem 0rem 2rem;    
}
#form2 select{
    margin: 1rem 0rem 1rem 2rem;
}
#form2 li label{
    margin: 1rem;
}
#form2 ol li ul li{
    list-style:none ;
}

/* --------------------------------------------- MEDIAQUERY VISTA TABLET ------------------------------------------------------------------ */

@media screen and (min-width:768px) and (max-width:1024px){
    /* --------------------------------------------- MODIFICACIONES A GRILLA ------------------------------------------------------------------ */
    #grilla {

        grid-template-areas:
        "header header "
        "section section "
        "footer footer ";
        grid-template-rows: auto auto; 
        grid-template-columns: auto auto;
    }
    /* --------------------------------------------- MODIFICACIONES A HEADER E HIJOS ---------------------------------------------------------- */
    .header{
        flex-direction: column;
    }
    .subheader{
        width: 100%;
        justify-content: center;
    }

    .header nav ul li{
        margin: 1rem;
        transition:none;
        padding: 0rem;
    }

    .header nav ul li:hover {
        transform:none;
    }


    /* --------------------------------------------- MODIFICACIONES A SECTION ----------------------------------------------------------------- */
    section{
        flex-wrap: nowrap;
        width: 100%;
    }

    /* ------------------- MODIFICACIONES A FOOTER-------------------------- */
    .vibrar:hover{
        animation-name:"" ;
        animation-duration: 0s;
        animation-timing-function:none;
        animation-iteration-count: none;
    }

    /* --------------------------------------------- MODIFICACIONES A CLASES UTILIZADAS EN TODO EL PROYECTO-------------------------------------- */
    .pagina__titulo{
        font-size: 7rem;
    }

    .estiloTxt{
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 1.7rem;
        text-align: justify;
    }
    
    .estiloTituloBannerNegro{
        font-size: 9rem;
    }
    
    .estiloTituloBannerBlanco{
        font-size: 9rem;
        text-align: center;
    }

    #bannerSize{
        width: 99.7%;
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION CRIPTOMONEDAS---------------------------------------- */
    .tarjetas{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin: 5rem 0rem 5rem 0rem;
        align-items: center;
    } 

    .estilo__icono{
        width: 13rem;
        height: 13rem;
        margin: 1rem;
    }

    .estiloBoton{
        font-size: 1.5rem;
    }

    .estiloBoton:hover{
        border-radius: 0rem;
    }
    .monedas{
        justify-content:space-evenly ;
        height: 200rem;
    }
    .orden__descripcion{
        align-items: center;
    }

    .descripcionTitulo{
        font-size: 4rem;
        text-align: center;
    }

    .tamañoVideo{
        height: 100%;
        width: 45rem;
    }
    .videoIzq{
        height: auto;
    } 
    
    .videoDer{
        height: auto;
    } 
    
    /* --------------------------------------------- MODIFICACIONES A SECCION BLOCKCHAIN---------------------------------------- */
    .titulos__blockchain{
        font-size: 3.5rem;
        margin: 0rem;
    }

    #blockchain__info{
        flex-direction: column;
        height: 170rem;
        width: 100%;
        justify-content: space-around;
    }

    #blockchain__video{
        margin: 0px;
    }

    .videoBlock{
        width: 76rem;
        height: 35rem;
        margin: 1rem;
    }

    #blockchain__tabla{
        width: 100%;
        margin: 0px;
    }

    .estiloTabla{
        width: 100%;
        height: 40rem;
    }

    td,th { 
        font-size: 1rem;
        padding: 2px;
    }
    
    #blockchain__flujo{
        align-items:center;
        margin: 0rem;
        height: 45rem;
    }
    
    .blockchain__flujo--descripcion{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .img__blockchain--flujo{
        width: 55rem;
        height: 50rem;
        border: solid 1px black;
        margin-left: 1rem;
    }

    .estiloTxtParrafo{
        margin: 0.5rem;
        font-size: 1.7rem;
        padding: 0.5rem;
        text-align: justify;
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION MERCADOS---------------------------------------- */
    .img__mercados--secciones{
        width: 100%;
        height: 100%;
    }

    .estiloTxtDescripciones{
        font-size: 1.7rem;
        padding: 0.5rem;
        margin: 0.5rem;
        text-align: justify;
    }

    .tituloYparrafo{
        width: 40%;
        height: auto;
    }

    .imgLink{
        width: 60%;
        height: auto;
    }

    .paginaDer{
        background-color: #5B7DB1;
    }
    
    .paginaIzq{
        background-color: #5B7DB1;
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION AYUDA---------------------------------------- */
    .ubicacionTitulo{
        padding: 2rem;
    }
    .formularios{
        flex-direction: column;
        flex-wrap: nowrap;
        height: 150rem;
        justify-content:space-around;
    }

    .formulario__size{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65rem;
    
    }
    form{
        width: auto;
        height: 50rem;
    }


    #form1 {
        padding: 2rem;
        margin-left: 1.5rem;
        width: 80%;
        height: auto;

    }

    #form2 {
        padding: 2rem;
        margin: 3rem;
        width: auto ;
        height: auto;
    }

}



/* --------------------------------------------- MEDIAQUERY VISTA MOBILE ------------------------------------------------------------------ */

@media screen and (min-width:368px) and (max-width:767px) {
    /* --------------------------------------------- MODIFICACIONES A GRILLA ------------------------------------------------------------------ */
    #grilla{
        grid-template-areas:
            "header"
            "header"
            "section"
            "section"
            "footer";
        grid-template-rows: auto auto auto auto auto ; 
        grid-template-columns: 100%;
    }

    /* --------------------------------------------- MODIFICACIONES A HEADER Y SUS HIJOS--------------------------------------------------------- */
    .header{
        flex-wrap: wrap;
    }
    .subheader{
        width: 100%;
        justify-content: center;
        
    }
    .header nav ul{
        flex-wrap: wrap;
        justify-content:center ;
    }
    .pagina__titulo{
        font-size: 5rem;
    }
    
    .header nav ul li:hover {
        transform:none;
    }

    /* --------------------------------------------- MODIFICACIONES A SECTION--------------------------------------------------------- */
    section{
        flex-wrap: nowrap;
    }

    /* --------------------------------------------- MODIFICACIONES A CLASES UTILIZADAS EN TODO EL PROYECTO-----------------------------*/
    .estiloTxt{
        margin: 0.5rem;
        padding: 1rem;
        font-size: 2rem;
        text-align: center;
    }
    .estiloTituloBannerNegro{
        font-size: 7rem;
    }
    
    .estiloTituloBannerBlanco{
        font-size: 7rem;
        text-align: center;
    }

    #bannerTamaño{
        width: 99.4%;
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION CRIPTOMONEDAS---------------------------------------------- */
    .tarjetas{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin: 2rem 0rem 5rem 0rem;
    }

    .monedas{
        height: 180rem;
    }

    .estilo__icono{
        width: 10rem;
        height: 10rem;
        margin: 1rem;
    }

    .estiloBoton{
        font-size: 1.5rem;
        border-radius: 1.5rem;
    }

    .videoIzq{
        flex-direction: column-reverse;
        background-color: transparent;
    }
    
    .videoDer{
        flex-direction: column-reverse;
        background-color: transparent;
    }

    .descripcionTitulo{
        font-size: 4rem;
    }
    
    .orden__descripcion--parrafo{
        display:none;
    }



    .tamañoVideo{
        height: 30rem;
        width: 100vw;
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION BLOCKCHAIN---------------------------------------------- */
    #blockchain__info{
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .titulos__blockchain{
        font-size: 3rem;
        margin: 1rem;
        text-align: center;
    }

    #blockchain__flujo{
        display: none;
    }
    .blockchain__flujo--descripcion{
        display: none;
    }

    .videoBlock{
        width: 100%;
        height: 35rem;
    }
    
    #blockchain__tabla{
        width: 100%;
        margin: 0px;
    }

    .estiloTabla{
        width: 100vw;
        height: 40rem;
    }

    td,th { 
        font-size: 1rem;
        padding: 2px;
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION MERCADOS---------------------------------------------- */
    #mercados__article{
        justify-content: space-evenly;
        height: 145rem;
    }
    .paginaDer{
        flex-direction: column;
        height: 25rem;
    }
    
    .paginaIzq{
        flex-direction: column;
        height: 25rem;
    }

    .tituloYparrafo{
        width: 100%;
        height: auto;
    }
    
    .imgLink{
        width: 100%;
        height: 100%;
    }

    .img__mercados--secciones{
        width: 100%;
        height: 100%;
    }

    .estiloTxtDescripciones{
        display: none;
    }

    .descripcionTitulo{
        font-size: 4rem;
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION AYUDA---------------------------------------------- */
    .ubicacionTitulo{
        padding: 3rem;
    }

    .formularios{
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }

    form{
        width: 100%;
        height: 100%;
    }

    #form1 {
        padding: 1rem;
        margin: 1rem;
        width: auto;
        height: auto;
    }

    #form1 textarea{
        border:1px solid black;
        margin: 0rem 0rem 0rem 7.7rem;
    
    }
    #form2 {
        padding: 2rem;
        margin: 3rem;
        width: auto ;
        height: auto;
    }




} 

