@charset "UTF-8";
@import url(../utilities/_variables.scss);
* {
  margin: 0px;
  padding: 0px; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: bebas;
  src: url(../../fuentes/BebasNeue-Regular.ttf); }

@font-face {
  font-family: profesional;
  src: url(../../fuentes/RobotoMono-Italic-VariableFont_wght.ttf); }

.flex-row, .subheader, .header nav ul, .tarjetas, .video, .video--Izq, .video--Der, #blockchain__info, #blockchain__flujo, .pagina, .pagina--Der, .pagina--Izq, .imgLink, .ubi--Titulo, .formularios {
  display: flex;
  flex-direction: row; }

.flex-column, #bannerSize, .orden__tarjeta, .monedas, .orden__descripcion, .blockchain__info--videTabla, #blockchain__video, #blockchain__tabla, .blockchain__flujo--descripcion, #mercados__article {
  display: flex;
  flex-direction: column; }

.Btn--gradient, fieldset input.btn, .estiloBoton {
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #090979 35%, #00d4ff 100%);
  color: white;
  border: solid 1px black; }

#grilla {
  display: grid;
  grid-template-areas: "header header header" "section section section" "footer footer footer";
  grid-template-rows: 6rem auto  8rem;
  grid-template-columns: 15% auto 30%; }

.parameters, .header, footer {
  display: flex;
  flex-direction: row;
  background-color: #1A132F; }

.header {
  justify-content: space-between;
  grid-area: header; }

section {
  display: flex;
  flex-direction: column;
  grid-area: section;
  background-color: #B1D0E0; }

footer {
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
  border: solid 1px black; }

.subheader {
  align-items: center; }

.sizeIcono {
  width: 50%;
  height: 50%;
  margin-left: 2rem; }

.style, .header nav ul li a, .pagina__titulo, #blockchain__video, #blockchain__tabla {
  font-family: bebas;
  color: white; }

.header nav {
  align-self: center; }
  .header nav ul {
    list-style: none; }
    .header nav ul ul {
      position: absolute;
      display: none;
      background-color: #1A132F;
      border: solid 1px black;
      z-index: 2; }
    .header nav ul li {
      margin: 10px;
      transition: 0.3s;
      padding: 1.5rem; }
      .header nav ul li:hover {
        transform: translateY(-8px); }
        .header nav ul li:hover ul {
          display: block; }
      .header nav ul li a {
        text-decoration: none;
        font-size: 3rem; }
      .header nav ul li ul li {
        padding: 0rem;
        margin: 0.5rem; }

.pagina__titulo {
  font-size: 6rem; }

.piePagina {
  display: flex;
  flex-direction: column;
  align-items: center; }

.estilo, .estilo--autor {
  text-align: center;
  color: white;
  font-family: bebas;
  font-size: 3rem;
  text-decoration: underline; }

.estilo--autor {
  font-size: 2.5rem;
  text-decoration: none; }

.sizeIconSocial {
  width: 40px;
  height: 40px; }

.borde, fieldset input[name=nombre], fieldset input[name=apellido], fieldset input[type=email], fieldset textarea {
  border: solid 1px black; }

form {
  width: 60rem;
  height: 50rem; }

fieldset {
  border: 1px solid #5B7DB1;
  background-color: #F9F7F7;
  padding: 5rem;
  width: 70%;
  height: 80%; }
  fieldset legend {
    font-size: 2.5rem;
    font-family: bebas;
    text-align: center;
    text-decoration: underline;
    background-color: #F9F7F7; }
  fieldset ol {
    list-style: none; }
    fieldset ol li {
      padding: 0.5rem;
      font-size: 1.2rem; }
      fieldset ol li label {
        font-size: 2rem;
        font-family: bebas;
        margin: 1rem; }
      fieldset ol li ul li {
        list-style: none;
        font-size: 1.5rem;
        font-family: profesional;
        text-align: justify; }
  fieldset input.btn {
    padding: 0.5rem;
    margin: 0.4rem; }
  fieldset input[name=nombre] {
    margin: 0rem 0rem 0rem 1.9rem; }
  fieldset input[name=apellido] {
    margin: 0rem 0rem 0rem 1.3rem; }
  fieldset input[type=email] {
    margin: 0rem 0rem 0rem 2.7rem; }
  fieldset input[type=radio] {
    margin: 0.5rem 0.5rem 1rem 2rem; }
  fieldset input[type=checkbox] {
    margin: 0.5rem 0.5rem 0rem 2rem; }
  fieldset textarea {
    margin: 0rem 0rem 0rem 1rem; }
  fieldset select {
    margin: 1rem 0rem 1rem 2rem; }

@keyframes vibrar {
  50% {
    transform: translateX(3px) rotate(2deg); }
  100% {
    transform: translateX(-3px) rotate(-2deg); } }

.vibrar {
  transform: perspective(1px) translateZ(0); }
  .vibrar:hover {
    animation-name: vibrar;
    animation-duration: 0.20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

.img_finanzas {
  background-image: url(../../imagenes/finanzas-img.jpg); }

.img_criptos {
  background-image: url(../../imagenes/banner-index.jpg); }

.bannerStyle, .bannerStyle--Negro, .bannerStyle--Blanco {
  font-family: bebas;
  font-size: 12rem; }

.efectoParallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.estiloTxt {
  padding: 3rem;
  font-size: 2.8rem;
  font-family: profesional;
  text-align: left; }

.bannerStyle--Negro {
  text-shadow: 0px 0px 2px white; }

.bannerStyle--Blanco {
  color: white;
  text-shadow: 0px 0px 5px black; }

#bannerSize {
  width: 100%;
  height: 23rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border: solid 1px black; }

.criptosBanner {
  background-image: url(../../imagenes/background-img.jpg); }

.tarjetas {
  flex-wrap: nowrap;
  width: auto;
  height: 30rem;
  justify-content: space-around;
  margin: 15rem 0rem 15rem 0rem; }

.orden__tarjeta {
  align-items: center; }

.estilo__icono {
  width: 23rem;
  height: 23rem;
  margin: 1rem; }

.estiloBoton {
  font-family: bebas;
  font-size: 2rem;
  padding: 0.5rem;
  transition-duration: 0.3s; }
  .estiloBoton:hover {
    border-radius: 2rem; }
  .estiloBoton a {
    color: white;
    text-decoration: none; }

.video, .video--Izq, .video--Der {
  width: auto;
  height: 45rem;
  background-color: #1A132F; }

.monedas {
  width: auto;
  height: 250rem;
  justify-content: space-around; }

.video--Der {
  flex-direction: row-reverse; }

.tama単oVideo {
  width: 60rem;
  height: 100%; }

.orden__descripcion {
  align-items: center; }

.txtStyleDescrip {
  color: white;
  padding: 3rem;
  font-size: 2.8rem;
  font-family: profesional;
  text-align: left; }

.style, .header nav ul li a, .pagina__titulo, #blockchain__video, #blockchain__tabla {
  margin: 5px;
  align-items: center; }

.bannerBlockchain {
  background-image: url(../../imagenes/blockchain-img.jpg);
  border: 1px solid white; }

.titulos__blockchain {
  color: black;
  font-size: 4rem;
  font-family: bebas;
  text-decoration: underline;
  margin: 1rem; }

.blockchain__info--videTabla {
  height: 110rem;
  justify-content: space-evenly; }

.videoBlock {
  width: 80rem;
  height: 40rem; }

.estiloTabla {
  margin: 5px;
  width: 80rem;
  height: 40rem;
  background-image: url(../../imagenes/tabla-img.jpg);
  background-size: cover;
  background-position: center;
  border-collapse: collapse; }

td, th {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  text-shadow: 0px 0px 5px black;
  color: white;
  padding: 2px 5px 2px 5px; }

#blockchain__flujo {
  align-items: flex-start;
  margin-top: 5rem; }

.estiloTxtParrafo {
  margin: 1rem;
  font-size: 2rem;
  text-align: justify;
  font-family: profesional;
  font-weight: bold; }

.img__blockchain--flujo {
  width: 68rem;
  height: 81rem;
  border: solid 1px black; }

.blockchain__flujo--descripcion {
  justify-content: flex-start; }

#mercados__article {
  justify-content: space-evenly;
  width: auto;
  height: 240rem; }

.pagina, .pagina--Der, .pagina--Izq {
  background-color: #1A132F;
  width: auto;
  height: 45rem; }

.imgMercados {
  background-image: url(../../imagenes/exchangeBanner-img.jpg); }

.pagina--Izq {
  flex-direction: row-reverse; }

.tituloYparrafo {
  width: 50%;
  height: auto; }

.imgLink {
  justify-content: center;
  width: 50%;
  height: 100%; }

.img__mercados--secciones {
  width: 80rem;
  height: 100%; }

.descripcionTitulo {
  font-family: bebas;
  font-size: 7rem;
  text-decoration: underline;
  text-align: center;
  color: white; }

.estiloTxtDescripciones {
  font-family: profesional;
  font-size: 2.7rem;
  line-height: 0.9;
  margin: 2rem;
  text-align: justify;
  color: white; }

#fondo__ayuda {
  background-image: url(../../imagenes/fondo_ayuda.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%; }

.ubi, .ubi--Titulo {
  justify-content: center;
  align-items: center; }

.ubi--Titulo {
  padding: 3rem; }

.formularios {
  justify-content: space-evenly;
  align-items: flex-start;
  width: auto;
  height: 80rem; }

.ubicacionBotones {
  text-align: center; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* --------------------------------------------- MODIFICACIONES A GRILLA ------------------------------------------------------------------ */
  #grilla {
    grid-template-areas: "header header " "section section " "footer footer ";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto; }
  /* --------------------------------------------- MODIFICACIONES A HEADER E HIJOS ---------------------------------------------------------- */
  .header {
    flex-direction: column; }
  .subheader {
    width: 100%;
    justify-content: center; }
  .header nav ul li {
    margin: 1rem;
    transition: none;
    padding: 0rem; }
    .header nav ul li:hover {
      transform: none; }
  /* --------------------------------------------- MODIFICACIONES A SECTION ----------------------------------------------------------------- */
  section {
    flex-wrap: nowrap;
    width: 100%; }
  /* ------------------- MODIFICACIONES A FOOTER-------------------------- */
  .vibrar {
    transform: none; }
  .vibrar:hover {
    animation-play-state: paused; }
  .estiloAutor {
    font-size: 2.5rem; }
  .estiloTxtAutor {
    font-size: 2.2rem; }
  .estiloRedes {
    font-size: 2.5rem; }
  .sizeIconSocial {
    width: 35px;
    height: 35px; }
  /* --------------------------------------------- MODIFICACIONES A CLASES UTILIZADAS EN TODO EL PROYECTO-------------------------------------- */
  .pagina__titulo {
    font-size: 7rem; }
  .estiloTxt {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.7rem;
    text-align: justify; }
  .estiloTituloBannerNegro {
    font-size: 9rem; }
  .estiloTituloBannerBlanco {
    font-size: 9rem;
    text-align: center; }
  #bannerSize {
    width: 99.7%; }
  /* --------------------------------------------- MODIFICACIONES A SECCION CRIPTOMONEDAS---------------------------------------- */
  .tarjetas {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 5rem 0rem 5rem 0rem;
    align-items: center; }
  .txtStyleDescrip {
    font-size: 1.7rem;
    padding: 0rem;
    margin-left: 1rem; }
  .estilo__icono {
    width: 13rem;
    height: 13rem;
    margin: 1rem; }
  .estiloBoton {
    font-size: 1.5rem; }
    .estiloBoton:hover {
      border-radius: 0rem; }
  .monedas {
    justify-content: space-around;
    height: 220rem; }
  .orden__descripcion {
    align-items: center; }
  .descripcionTitulo {
    font-size: 4rem;
    text-align: center; }
  .tama単oVideo {
    height: 100%;
    width: 40rem; }
  .videoIzq {
    height: 40rem; }
  .videoDer {
    height: 40rem; }
  /* --------------------------------------------- MODIFICACIONES A SECCION BLOCKCHAIN---------------------------------------- */
  .titulos__blockchain {
    font-size: 3.5rem;
    margin: 0rem; }
  #blockchain__info {
    flex-direction: column;
    height: 170rem;
    width: 100%;
    justify-content: space-around; }
  #blockchain__video {
    margin: 0px; }
  .videoBlock {
    width: 76rem;
    height: 35rem;
    margin: 1rem; }
  #blockchain__tabla {
    width: 100%;
    margin: 0px; }
  .estiloTabla {
    width: 100%;
    height: 40rem; }
  td, th {
    font-size: 1rem;
    padding: 2px; }
  #blockchain__flujo {
    align-items: center;
    margin: 0rem;
    height: 45rem; }
  .blockchain__flujo--descripcion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .img__blockchain--flujo {
    width: 55rem;
    height: 50rem;
    border: solid 1px black;
    margin-left: 1rem; }
  .estiloTxtParrafo {
    margin: 0.5rem;
    font-size: 1.4rem;
    padding: 0rem;
    text-align: justify; }
  /* --------------------------------------------- MODIFICACIONES A SECCION MERCADOS---------------------------------------- */
  #mercados__article {
    height: 250rem; }
  .img__mercados--secciones {
    width: 100%;
    height: 100%; }
  .estiloTxtDescripciones {
    display: none; }
  .tituloYparrafo {
    width: 100%;
    height: auto; }
  .imgLink {
    width: 100%;
    height: auto; }
  .paginaDer {
    flex-direction: column;
    background-color: #1A132F;
    height: 40rem; }
  .paginaIzq {
    flex-direction: column;
    background-color: #1A132F;
    height: 40rem; }
  /* --------------------------------------------- MODIFICACIONES A SECCION AYUDA---------------------------------------- */
  .ubicacionTitulo {
    padding: 2rem; }
  .formularios {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 150rem;
    justify-content: space-around; }
  .formulario__size {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65rem; }
  form {
    width: auto;
    height: 50rem; }
  #form1 {
    padding: 2rem;
    margin-left: 1.5rem;
    width: 80%;
    height: auto; }
  #form2 {
    padding: 2rem;
    margin: 3rem;
    width: auto;
    height: auto; } }

@media screen and (min-width: 368px) and (max-width: 767px) {
  /* --------------------------------------------- MODIFICACIONES A GRILLA ------------------------------------------------------------------ */
  #grilla {
    grid-template-areas: "header" "header" "section" "section" "footer";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 100%; }
  /* --------------------------------------------- MODIFICACIONES A HEADER Y SUS HIJOS--------------------------------------------------------- */
  .header {
    flex-wrap: wrap; }
  .subheader {
    width: 100%;
    justify-content: center; }
  .header nav ul {
    flex-wrap: wrap;
    justify-content: center; }
  .pagina__titulo {
    font-size: 5rem; }
  .header nav ul li {
    margin: 0rem;
    padding: 1rem; }
    .header nav ul li:hover {
      transform: none; }
  /* --------------------------------------------- MODIFICACIONES A SECTION--------------------------------------------------------- */
  section {
    flex-wrap: nowrap; }
  /* MODIFICACIONES A FOOTER */
  .vibrar {
    transform: none; }
    .vibrar:hover {
      animation-play-state: paused; }
  .estiloAutor {
    font-size: 2.5rem; }
  .estiloTxtAutor {
    font-size: 2.2rem; }
  .estiloRedes {
    font-size: 2.5rem; }
  .sizeIconSocial {
    width: 35px;
    height: 35px; }
  /* --------------------------------------------- MODIFICACIONES A CLASES UTILIZADAS EN TODO EL PROYECTO-----------------------------*/
  .estiloTxt {
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: space-around; }
  .estiloTituloBannerNegro {
    font-size: 7rem; }
  .estiloTituloBannerBlanco {
    font-size: 7rem;
    text-align: center; }
  #bannerTama単o {
    width: 99.4%; }
  /* --------------------------------------------- MODIFICACIONES A SECCION CRIPTOMONEDAS---------------------------------------------- */
  .tarjetas {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 2rem 0rem 5rem 0rem; }
  .monedas {
    height: 200rem;
    justify-content: space-around; }
  .estilo__icono {
    width: 10rem;
    height: 10rem;
    margin: 1rem; }
  .estiloBoton {
    font-size: 1.5rem;
    border-radius: 1.5rem; }
  .videoIzq {
    flex-direction: column-reverse;
    height: auto; }
  .videoDer {
    flex-direction: column-reverse;
    height: auto; }
  .descripcionTitulo {
    font-size: 4rem; }
  .orden__descripcion--parrafo {
    display: none; }
  .tama単oVideo {
    height: 30rem;
    width: 100vw; }
  /* --------------------------------------------- MODIFICACIONES A SECCION BLOCKCHAIN---------------------------------------------- */
  #blockchain__info {
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
  .titulos__blockchain {
    font-size: 3rem;
    margin: 1rem;
    text-align: center; }
  #blockchain__flujo {
    display: none; }
  .blockchain__flujo--descripcion {
    display: none; }
  .videoBlock {
    width: 100%;
    height: 35rem; }
  #blockchain__tabla {
    width: 100%;
    margin: 0px; }
  .estiloTabla {
    width: 100vw;
    height: 40rem; }
  td, th {
    font-size: 1rem;
    padding: 2px; }
  /* --------------------------------------------- MODIFICACIONES A SECCION MERCADOS---------------------------------------------- */
  #mercados__article {
    justify-content: space-evenly;
    height: 145rem; }
  .paginaDer {
    flex-direction: column;
    height: 25rem; }
  .paginaIzq {
    flex-direction: column;
    height: 25rem; }
  .tituloYparrafo {
    width: 100%;
    height: auto; }
  .imgLink {
    width: 100%;
    height: 100%; }
  .img__mercados--secciones {
    width: 100%;
    height: 100%; }
  .estiloTxtDescripciones {
    display: none; }
  .descripcionTitulo {
    font-size: 4rem; }
  /* --------------------------------------------- MODIFICACIONES A SECCION AYUDA---------------------------------------------- */
  .ubicacionTitulo {
    padding: 3rem; }
  .formularios {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%; }
  form {
    width: 100%;
    height: 100%; }
  #form1 {
    padding: 1rem;
    margin: 1rem;
    width: auto;
    height: auto; }
  #form1 textarea {
    border: solid 1px black;
    margin: 0rem 0rem 0rem 7.7rem; }
  #form2 {
    padding: 2rem;
    margin: 3rem;
    width: auto;
    height: auto; } }
