@font-face {
    font-family: "bebas";
    src: url(../fuentes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family:"flowers" ;
    src: url(../fuentes/SendFlowers-Regular.ttf);
}


#logoNavbar__flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1A132F;
    padding: 0;
}

.sizeIcono{
    width: 40px;
    height: 40px;
}
.pagina__titulo{
    font-size: 3rem;
    color: white;
    font-family:"bebas";
}


#iconosRedes{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}


#art1{
    display: flex;
    flex-direction: column;
    
}

#art2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:5rem 0rem 15rem 0rem;
}

.efectoParallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.centrarTituloBanner{
    margin-top: 2rem;
}

.img_finanzas{
    background-image: url(../imagenes/finanzas-img.jpg);
    height: 15rem;
    border: solid 1px black;
}
.img_criptos{
    background-image: url(../imagenes/banner-index.jpg);
    height: 15rem;
    border: solid 1px black;
}

.estiloTxt{
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: "flowers";
    text-align: center;
    font-weight: bold;
}


.estiloTituloBannerNegro{
    text-align: center;
    font-family: "bebas";
    font-size: 10rem;
    text-shadow: 0px 0px 2px white;
}

.estiloTituloBannerBlanco{
    color: white;
    font-family: "bebas";
    font-size: 10rem;
    text-shadow: 0px 0px 5px black;
}


section{
    background-color: #F7E2E2;
}

footer{
    background-color: #5B7DB1;
    
}

.estiloAutor{
    color: black;
    font-size: 2rem;
    font-family: "bebas";
    text-decoration: underline;
}

.estiloTxtAutor{
    color: black;
    font-size: 1.9rem;
    font-family: "bebas";
    margin: 0;
}

.estiloRedes{
    font-size: 2rem;
    font-family: "bebas";
    color: black;
    text-decoration: underline;
}


.criptosBanner{
    background-image: url(../imagenes/background-img.jpg);
    height: 15rem;
    border: solid 1px black;
}

.cardsColor{
    background-color: #5B7DB1
}

.tamañoVideo{
    height: 30rem;
    width: 40rem;
}

.titleTxt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disposicionElementos{
    display: flex;
    justify-content: space-between;
}

.disposicionElementosReverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.descripcionTitulo{
    font-family: "bebas";
    font-size: 5rem;
    text-decoration: underline;
}

.colorFondo{
    background-color: #5B7DB1;
}

@media screen and (min-width:368px) and (max-width:575px){
    
    /* HEADER */
    #logoNavbar__flex{
        flex-direction: column;
    }

    .sizeIcono{
        width: 25px;
        height: 25px;
    }

    .pagina__titulo{
        font-size: 3rem;
    }
    
    /* SECTION */
    .estiloTxt{
        font-size: 1rem;
        text-align: justify;
        margin: 1px;
    }

    .estiloTituloBannerNegro{
        font-size: 3.5rem;
    }
    
    .estiloTituloBannerBlanco{
        font-size: 3.5rem;
    }

    .centrarTituloBanner{
        margin-top: 3rem;
    }

    .img_finanzas{
        height: 10rem;
    }
    .img_criptos{
        height: 10rem;
    }

    /* FOOTER */

    .estiloTxtAutor{
        font-size: 1rem;
    }

    .estiloAutor{
        font-size: 1.2rem;
        margin:0px;
        padding:1px;
    }
    
    .estiloRedes{
        font-size: 1.1rem;
        margin: 0px;
    }

    
    .cardsColor{
        background-color: #5B7DB1
        }

    .tamañoVideo{
        height: 30rem;
        width: 40rem;
        }

    .titleTxt{
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    .disposicionElementos{
        display: flex;
        justify-content: space-between;
        }

    .disposicionElementosReverse{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        }

    .descripcionTitulo{
        font-family: "bebas";
        font-size: 5rem;
        text-decoration: underline;
        }
    /* CRIPTOMONEDAS SECTION */
    #tarjetas{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cardsColor{
        margin-bottom: 1rem;
    }

    .tamañoVideo{
        height: 30rem;
        width: 100%;
    }

    .disposicionElementos{
        flex-direction: column;
    }

    .disposicionElementosReverse{
        flex-direction: column;
    }

    .descripcionTitulo{
        font-size: 2.5rem;
    }

    #descripciones p{
        display: none;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {
    
    /* HEADER */
    #logoNavbar__flex{
        flex-direction: column;
    }
    .pagina__titulo{
        font-size: 4rem;
    }

    /* SECTION */
    .estiloTituloBannerNegro{
        font-size: 5rem;
    }
    
    .estiloTituloBannerBlanco{
        font-size: 5.5rem;
    }
    

    .centrarTituloBanner{
        margin-top: 5rem;
    }

    .estiloTxt{
        font-size: 1.5rem;
        margin: 0px;
    }

    /* FOOTER */
    .estiloTxtAutor{
        font-size: 1.2rem;
        margin: 0px;
    }

    .estiloAutor{
        font-size: 1.5rem;
        margin: 0px;
    }
    
    .estiloRedes{
        font-size: 1.5rem;
        margin: 0px;
    }

    .sizeIcono{
        width: 30px;
        height: 30px;
    }

    /* CRIPTOMONEDAS SECTION */
    #tarjetas{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cardsColor{
        margin-bottom: 1rem;
    }

    .tamañoVideo{
        height: 30rem;
        width: 100%;
    }

    .disposicionElementos{
        flex-direction: column;
    }

    .disposicionElementosReverse{
        flex-direction: column;
    }

    .descripcionTitulo{
        font-size: 2.5rem;
    }

    #descripciones p{
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    /* SECTION */
    #logoNavbar__flex{
        flex-direction: column;
    }
    .estiloTituloBannerNegro{
        font-size: 6rem;
    }
    
    .estiloTituloBannerBlanco{
        font-size: 6rem;
    }


    .centrarTituloBanner{
        margin-top: 5rem;
    }

    .estiloTxt{
        font-size: 1.5rem;
        margin: 0px;
    }

    /* FOOTER */
    .estiloTxtAutor{
        font-size: 1.2rem;
        margin: 0px;

    }

    .estiloAutor{
        font-size: 1.5rem;
        margin: 0px;

    }
    
    .estiloRedes{
        font-size: 1.5rem;
        margin: 0px;
    }

    .sizeIcono{
        width: 30px;
        height: 30px;
    }

    /* CRIPTOMONEDAS SECTION */
    #tarjetas{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cardsColor{
        margin-bottom: 1rem;
    }

    .tamañoVideo{
        height: 30rem;
        width: 100%;
    }

    .disposicionElementos{
        flex-direction: column;
    }

    .disposicionElementosReverse{
        flex-direction: column;
    }

    .descripcionTitulo{
        font-size: 2.5rem;
    }

    #descripciones p{
        display: none;
    }
}