//definicion de keyframes para usarlo en la seccion index
@keyframes rotacionMoneda {
    0%{
        transform: skew(0deg);
        }
    25%{
        transform: rotate3d(0,1,0, 90deg);
        }
    50%{
        transform: rotate3d(0,1,0, 180deg);
    }
    75%{
        transform: rotate3d(0,1,0, 270deg);
    }
    100%{
        transform: rotate3d(0,1,0, 360deg);
        }
}

//definicion de la clase que usa el keyframe
.rotacion{
    animation-name: rotacionMoneda;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 2s;
}