@media screen and (min-width:768px) and (max-width:1024px){
    /* --------------------------------------------- MODIFICACIONES A GRILLA ------------------------------------------------------------------ */
    #grilla {

        grid-template-areas:
        "header header "
        "section section "
        "footer footer ";
        grid-template-rows: auto auto; 
        grid-template-columns: auto auto;
    }
    /* --------------------------------------------- MODIFICACIONES A HEADER E HIJOS ---------------------------------------------------------- */
    .header{
        flex-direction: column;
    }
    .subheader{
        @include sizes(100%, auto);
        justify-content: map-get($desing , centrado);
    }

    .header{
        nav {
            ul{
                li{
                    margin: 1rem;
                    transition:none;
                    padding: 0rem;
                    &:hover{
                        transform:none;
                    }
                }
            }
        }
    }

    /* --------------------------------------------- MODIFICACIONES A SECTION ----------------------------------------------------------------- */
    section{
        flex-wrap: nowrap;
        @include sizes(100%,auto);

    }
    /* ------------------- MODIFICACIONES A FOOTER-------------------------- */
    .vibrar {
        transform: none;
        &:hover{
            animation-play-state: paused;
        }
    }
        
    .estilo{
        font-size: 2rem;
    }

    .estilo--autor{
        font-size: 1.9rem;
    }
    
    
    .sizeIconSocial{
        @include sizes(30px, 30px);
    }


    /* --------------------------------------------- MODIFICACIONES A CLASES UTILIZADAS EN TODO EL PROYECTO-------------------------------------- */
    .pagina__titulo{
        font-size: 7rem;
    }

    .estiloTxt{
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 1.7rem;
        text-align: map-get($desing , justificado);
    }
    a
    .bannerStyle--Negro{
        font-size: 9rem;
    }
    
    .bannerStyle--Blanco{
        font-size: 9rem;
        text-align: map-get($desing , centrado);
    }

    #bannerSize{
        @include sizes(99.7%,auto);
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION CRIPTOMONEDAS---------------------------------------- */
    .tarjetas{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin: 5rem 0rem 5rem 0rem;
        align-items: map-get($desing , centrado);
    } 

    .txtStyleDescrip{
        font-size: 1.2rem;
        padding: 0rem;
        margin-left: 1rem;
    }


    .estilo__icono{
        width: 13rem;
        height: 13rem;
        margin: 1rem;
    }

    .estiloBoton{
        font-size: 1.5rem;
        &:hover{
            border-radius: 0rem;
        }
    }

    .monedas{
        justify-content:map-get($desing , espaciadoAround);
        @include sizes(auto,220rem);
    }
    .orden__descripcion{
        align-items: map-get($desing , centrado);
    }

    .descripcionTitulo{
        font-size: 4rem;
        text-align: map-get($desing , centrado);
    }

    .sizeVideo{
        @include sizes(40rem, 100%);
    }
    .video--Izq{
        @include sizes(auto, 40rem);
    } 
    
    .video--Der{
        @include sizes(auto, 40rem);
    } 
    
    /* --------------------------------------------- MODIFICACIONES A SECCION BLOCKCHAIN---------------------------------------- */
    .titulos__blockchain{
        font-size: 3rem;
        margin: 0rem;
        text-align: map-get($desing, centrado );
    }

    #blockchain__info{
        flex-direction: column;
        @include sizes(100%,170rem);
        justify-content: map-get($desing , espaciadoAround);
    }

    #blockchain__video{
        margin: 0px;
    }

    .videoBlock{
        @include sizes(76rem,35rem);
        margin: 1rem;
    }

    #blockchain__tabla{
        @include sizes(100%,auto);
        margin: 0px;
    }

    .estiloTabla{
        @include sizes(100%,40rem);
    }

    td,th { 
        font-size: 1rem;
        padding: 2px;
    }
    
    #blockchain__flujo{
        align-items:map-get($desing , centrado);
        margin: 0rem;
        @include sizes(auto,45rem);
    }
    
    .blockchain__flujo--descripcion{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .img__blockchain--flujo{
        @include sizes(55rem,50rem);
        border: map-get($desing , borde);
        margin-left: 1rem;
    }

    .estiloTxtParrafo{
        margin: 0.5rem;
        font-size: 1.3rem;
        padding: 0rem;
        text-align: map-get($desing , justificado);
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION MERCADOS---------------------------------------- */
    #mercados__article{
        @include sizes (auto,250rem);
    }

    .img__mercados--secciones{
        @include sizes(100%,85%);
    }

    .estiloTxtDescripciones{
        display: none;
    }

    .tituloYparrafo{
        @include sizes(100%,auto);
    }

    .imgLink{
        @include sizes(100%,100%);
    }

    .pagina--Der{
        flex-direction: column;
        background-color:map-get($desing , colorOscuro);
        @include sizes(auto,40rem);
    }
    
    .pagina--Izq{
        flex-direction: column;
        background-color:map-get($desing , colorOscuro);
        @include sizes(auto,40rem);
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION AYUDA---------------------------------------- */
    .ubi--Titulo{
        padding: 2rem;
    }

    .formularios{
        flex-direction: column;
        flex-wrap: nowrap;
        @include sizes(auto,auto);
        justify-content: map-get($desing , centrado);
        align-items: map-get($desing , centrado);
    }

    form{
        @include sizes (auto,50rem);
    }

    fieldset{
        padding: 1.8rem;
        margin-left: 1.5rem;
        @include sizes(80%,auto);
        textarea{
            margin: 0rem 0rem 0rem 9rem;
        }
        input{
            &.btn{
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (min-width:368px) and (max-width:767px) {
    /* --------------------------------------------- MODIFICACIONES A GRILLA ------------------------------------------------------------------ */
    #grilla{
        grid-template-areas:
            "header"
            "header"
            "section"
            "section"
            "footer";
        grid-template-rows: auto ; 
        grid-template-columns: 100%;
    }

    /* --------------------------------------------- MODIFICACIONES A HEADER Y SUS HIJOS--------------------------------------------------------- */
    .header{
        flex-wrap: wrap;
    }
    .subheader{
        @include sizes(100%,auto);
        justify-content: map-get($desing , centrado);
    }

    .header {
        nav{
            ul{
                flex-wrap: wrap;
                justify-content:map-get($desing , centrado);
                li{
                    margin:0rem;
                    padding:1rem;
                    &:hover{
                        transform:none;
                    }
                }
            }
        } 
    }

    .pagina__titulo{
        font-size: 5rem;
    }
    
    
    /* --------------------------------------------- MODIFICACIONES A SECTION--------------------------------------------------------- */
    section{
        flex-wrap: nowrap;
    }

    /* MODIFICACIONES A FOOTER */

    .vibrar {
        transform: none;
        &:hover{
            animation-play-state: paused;
        }
    }

    .estilo{
        font-size: 2rem;
    }
    
    .estilo--autor{
        font-size: 1.9rem;
    }
    
    
    .sizeIconSocial{
        @include sizes(25px,25px);
    }

    /* --------------------------------------------- MODIFICACIONES A CLASES UTILIZADAS EN TODO EL PROYECTO-----------------------------*/
    .estiloTxt{
        margin: 0.5rem;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: map-get($desing , justificado);
    }

    .bannerStyle--Negro{
        font-size: 7rem;
    }
    
    .bannerStyle--Blanco{
        font-size: 7rem;
        text-align: map-get($desing , centrado);
    }

    #bannerSize{
        @include sizes(99.4%,18rem);
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION CRIPTOMONEDAS---------------------------------------------- */
    .tarjetas{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin: 2rem 0rem 5rem 0rem;
    }

    .monedas{
        @include sizes(auto,200rem);
        justify-content: map-get($desing , espaciadoAround);
    }

    .estilo__icono{
        @include sizes(10rem,10rem);
        margin: 1rem;
    }

    .estiloBoton{
        font-size: 1.5rem;
        border-radius: 1.5rem;
    }

    .video--Izq{
        flex-direction: column-reverse;
        @include sizes(auto,auto);
    }
    
    .video--Der{
        flex-direction: column-reverse;
        @include sizes(auto,auto);
    }

    .descripcionTitulo{
        font-size: 4rem;
    }
    
    .orden__descripcion--parrafo{
        display:none;
    }

    .sizeVideo{
        @include sizes(100vw,30rem);
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION BLOCKCHAIN---------------------------------------------- */
    #blockchain__info{
        flex-direction: column;
        justify-content: map-get($desing , espaciadoBetween);
        height: 100%;
    }

    .titulos__blockchain{
        font-size: 3rem;
        margin: 1rem;
        text-align: map-get($desing , centrado);
    }

    #blockchain__flujo{
        display: none;
    }

    .blockchain__flujo--descripcion{
        display: none;
    }

    .videoBlock{
        @include sizes(100%,35rem);
    }
    
    #blockchain__tabla{
        @include sizes(100%,auto);
        margin: 0px;
    }

    .estiloTabla{
        @include sizes(100vw,40rem);
    }

    td,th { 
        font-size: 1rem;
        padding: 2px;
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION MERCADOS---------------------------------------------- */
    #mercados__article{
        justify-content: map-get($desing , espaciadoEvenly);
        @include sizes(auto,145rem);
    }
    .pagina--Der{
        flex-direction: column;
        @include sizes(auto,25rem);
    }
    
    .pagina--Izq{
        flex-direction: column;
        @include sizes(auto,25rem);
    }

    .tituloYparrafo{
        @include sizes(100%,auto);
    }
    
    .imgLink{
        @include sizes(100%,100%);
    }

    .img__mercados--secciones{
        @include sizes(100%,100%);
    }

    .estiloTxtDescripciones{
        display: none;
    }

    .descripcionTitulo{
        font-size: 4rem;
    }

    /* --------------------------------------------- MODIFICACIONES A SECCION AYUDA---------------------------------------------- */
    .ubi--Titulo{
        padding: 3rem;
    }

    .formularios{
        flex-direction: column;
        flex-wrap: nowrap;
        @include sizes(auto,100%);
    }

    form{
        @include sizes(100%,100%);
    }

    fieldset{
        padding: 1rem;
        margin: 1rem;
        @include sizes(auto,auto);
        textarea{
            border:map-get($desing , borde);
            margin: 0rem 0rem 0rem 7.7rem;
        }
        input{
            &.btn{
                font-size: 1.2rem;
            }
            &[type=radio]{
                margin: 0.5rem 0.5rem 0.5rem 1rem;
            }
        }
    }
    
} 