$colorNav_Footer: #1A132F;
$colorSection: #B1D0E0;
$borde: solid 1px black;
$letraBlanca: white;
$letraNegra: black;
$subrayado: underline;
$elementosEspaciados: space-around;
$elementosSeparados: space-evenly;
$entreElementos: space-between;
$fuenteTabla: Arial, Helvetica, sans-serif;
$bordeTabla: 1px solid white;
$negrita: bold;
$alinTxt: center;
$alinJusti:justify;
$bordeFormulario:1px solid #5B7DB1;
$fondoFormulario: #F9F7F7;
$sombraBlanca: 0px 0px 2px white;
$sombraNegra: 0px 0px 5px black;

@mixin sizes($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-column{
    display:flex;
    flex-direction: column;
}