@mixin sizes($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

@mixin seteoLetra($estilo,$size,$txtalign,$decoracion,$transform,$color){
    font-family: $estilo;
    font-size: $size;
    text-align: $txtalign;
    text-decoration: $decoracion;
    text-transform: $transform;
    color: $color;
}

h1{
    @include seteoLetra(amatic,20rem ,center ,none ,uppercase ,white );
}

h3{
    @include seteoLetra(oswald,none ,center ,underline ,uppercase ,white );
}

h4{
    @include seteoLetra(oswald,3rem ,none ,underline ,uppercase ,white );
}

p{
    @include seteoLetra(nunito,2rem ,justify ,none ,none ,white );
    margin: 2rem;
}

section{
    background-image: url(../../imagenes/optical-fiber-background.jpg);
    background-size: cover;
    @include sizes(100%,100%);
}

.iconos{
    @include sizes(35px,35px);
}


.alineacion{
    justify-content: center;
    align-items: center;
} 


.espaciadoAround{
    justify-content: space-around;
}

.espaciadoBeetwen{
    justify-content: space-between;
}

.borde{
    border: 1px solid black;
}

.seteoImg{
    @include sizes(80rem,80rem );
    margin-bottom: 1rem;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-rowReverse{
    display: flex;
    flex-direction: row-reverse;
}

.flex-columnReverse{
    display: flex;
    flex-direction: column-reverse;
}

.banner{
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0px 6px 3px 0px rgba(0,0,0,0.61);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}