.piePagina{
    display: flex;
    flex-direction: column;
    align-items: map-get($desing, centrado);
}

.estilo{
    text-align: map-get($desing , centrado );
    color: map-get($desing , letraBlanca );
    font-family: bebas;
    font-size: 3rem;
    text-decoration: map-get($desing , subrayado);
}


.estilo--autor{
    @extend .estilo;
    font-size: 2.5rem;
    text-decoration: none;
}


.sizeIconSocial{
    @include sizes(40px,40px)
}

