form{
    //definiendo el tamaño por default del form en sus dif. vistas
    @include sizes(60rem,65rem);
    margin: 2rem;
    
    @include media-query(mobile){
        @include sizes(99%,100%);
    }
    
    @include media-query(tablet){
        @include sizes(52rem,100%);
    }
}

fieldset{
    //definicion de estilos de fieldset, el de sus componentes y vistas
    background-color: rgba(0,0,0,0.7);
    border: 1px solid black;
    padding: 5rem;
    @include sizes(100%,100%);
    
    @include media-query(mobile){
        padding: 0rem;
    }
    
    @include media-query(tablet){
        width: 90%;
    }
    
    legend{
        //definicion del estilo legend con mixin
        @include seteoLetra(amatic,3rem,center,underline,uppercase,white);
    }
    
    //estructurado del formulario y estilo
    ol{
        list-style: none;
        li{
            font-family: oswald;
            color: white;
            padding: 0.5rem;
            font-size: 1.5rem;
            label{
                color: white;
                font-size: 2rem;
                margin: 1rem;
            }
            ul{
                li{
                    list-style: none;
                    font-size: 1.5rem;
                    text-align: justify;
                }
            }
        }
    }
    
    //modificando estilo de los inputs del formulario, con sus respectivas vistas
    input{
        &.btn{
            background-color: white;            
            color: black;
            padding:0.7rem;
            margin: 0.4rem;
            font-size: 1.5rem;
            @include media-query(mobile){
                font-size: 1.3rem;
            }
        
        }
        &[name=nombre] {
            border: 1px solid black;
            margin: 0rem 0rem 0rem 1.9rem;
            padding-right: 10rem;
            @include media-query(mobile){
                padding: 0rem;
            }
            @include media-query(tablet){
                padding-right: 5rem;
            }
        }
        &[name=apellido] {
            border: 1px solid black;
            margin: 0rem 0rem 0rem 1.9rem;
            padding-right: 10rem;
            @include media-query(mobile){
                padding: 0rem;
            }
            @include media-query(tablet){
                padding-right: 5rem;
            }

        }
        &[type=email] {
            border: 1px solid black;
            margin: 0rem 0rem 0rem 3.1rem;
            padding-right: 10rem;

            @include media-query(mobile){
                margin-left: 2.9rem;
                padding: 0rem;
            }
            @include media-query(tablet){
                padding-right: 5rem;
            }
        }
        &[type=radio]{
            margin: 0.5rem 0.5rem 1rem 2rem;
        }
        &[type=checkbox]{
            margin: 0.5rem 0.5rem 0rem 2rem;    
        }
    }
    
    textarea{
        border: 1px solid black;
        margin: 0rem 0rem 0rem 1.2rem;
        padding-right: 7rem;
        @include media-query(mobile){
            padding: 0rem;
        }
        @include media-query(tablet){
            padding-right: 5rem;
        }

    } 
    
    select{
        margin: 1rem 0rem 1rem 2rem;
    }
    
}