form{
    @include sizes(60rem,65rem);
    margin: 2rem;
    @include media-query(mobile){
        @include sizes(99%,100%);
    }
}

fieldset{
    background-color: rgba(0,0,0,0.7);
    border: 1px solid black;
    padding: 5rem;
    @include sizes(100%,100%);
    @include media-query(mobile){
        padding: 0rem;
    }
    legend{
        font-family: amatic;
        color: white;
        font-size: 3rem;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
    }
    ol{
        list-style: none;
        li{
            font-family: oswald;
            color: white;
            padding: 0.5rem;
            font-size: 1.5rem;
            label{
                color: white;
                font-size: 2rem;
                margin: 1rem;
            }
            ul{
                li{
                    list-style: none;
                    font-size: 1.5rem;
                    text-align: justify;
                }
            }
        }
    }
    input{
        &.btn{
            background-color: white;            
            color: black;
            padding:0.7rem;
            margin: 0.4rem;
            font-size: 1.5rem;
            @include media-query(mobile){
                font-size: 1.3rem;
            }
        }
        &[name=nombre] {
            border: 1px solid black;
            margin: 0rem 0rem 0rem 1.9rem;
        }
        &[name=apellido] {
            border: 1px solid black;
            margin: 0rem 0rem 0rem 1.9rem;
        }
        &[type=email] {
            border: 1px solid black;
            margin: 0rem 0rem 0rem 3.1rem;
            @include media-query(mobile){
                margin-left: 2.9rem;
            }
        }
        &[type=radio]{
            margin: 0.5rem 0.5rem 1rem 2rem;
        }
        &[type=checkbox]{
            margin: 0.5rem 0.5rem 0rem 2rem;    
        }
    }
    textarea{
        border: 1px solid black;
        margin: 0rem 0rem 0rem 1.2rem;
    } 
    select{
        margin: 1rem 0rem 1rem 2rem;
    }
    
}