@import url(../utilities/_variables.scss);

#grilla {
    display: grid;
    grid-template-areas:
    "header header header"
    "section section section"
    "footer footer footer";
    grid-template-rows: 6rem auto  8rem; 
    grid-template-columns: 15% auto 30%;
}

.parameters{
    display: flex;
    flex-direction: row;
    background-color: map-get($desing , colorOscuro );
}

.header{
    @extend .parameters;
    justify-content: map-get($desing , espaciadoBetween );
    grid-area: header ;
}

section{
    display: flex;
    flex-direction: column;
    grid-area: section;
    background-color: map-get($desing , colorClaro );
    
}

footer{
    @extend .parameters;    
    justify-content: map-get($desing , espaciadoAround );
    align-items: map-get($desing , centrado );
    grid-area: footer;
    border: map-get($desing , borde );
}

