nav{
    //definiendo estilo del nav como sus componentes
    @include sizes(100%,100%);
    ul{
        justify-content: end;
        font-family: oswald;
        font-size: 2.5rem;
        margin-top: 0rem;
        background-color: #3B4154;
        @include media-query(mobile){
            justify-content: center;
            font-size: 2rem;
        }
        @include media-query(tablet){
            justify-content: center;
        }
        li{
            ul{
                li{
                    text-align: center;
                    a{
                        font-size: 2rem;
                        text-transform: uppercase;
                        color: white;
                    }
                }
            }
        }
        
    }
}

//modifico clases propietarias del nav que use de BS para cambiarle el estilo 
.nav-link{
    color: white;
    text-transform: uppercase;

    &:hover{
        color: white;
    }
    &:focus{
        color: white;
    }
}

.dropdown-menu.show{
    width: 100%;
}

.dropdown-item{
    text-transform: uppercase;
}
