.subheader{
    @extend .flex-row;
    align-items: map-get($desing , centrado );
}

.sizeIcono{
    @include sizes(50%,50%);
    margin-left: 2rem;
}

.style{
    font-family: bebas;
    color: map-get($desing , letraBlanca );
}

.header{
    nav{
        align-self: map-get($desing , centrado );
        ul{
            @extend .flex-row;
            list-style: none;
            ul{
                position: absolute;
                display:none;
                background-color: map-get($desing , colorOscuro );
                border: map-get($desing , borde );
                z-index: 2;
            }
            li{
                margin: 0.3rem;
                transition: 0.3s;
                padding: 1rem;
                &:hover{
                    transform: translateY(-8px);
                    ul{
                        display: block;
                    }
                }
                a{
                    text-decoration: none;
                    font-size: 3rem;
                    @extend .style;
                }
                ul{
                    li{
                        padding: 0rem;
                        margin: 0.5rem;
                    }
                }
            }
        }
    }
} 

.pagina__titulo{
    font-size: 6rem;
    @extend .style;
}