#fondo__ayuda{
    background-image:url(../../imagenes/fondo_ayuda.jpg);
    background-position: $alinTxt;
    background-size: cover;
    @include sizes(100%,100%)
}

.ubi{
    justify-content: $alinTxt;
    align-items: $alinTxt;
}

.ubi--Titulo{
    @extend .flex-row, .ubi;
    padding: 3rem;
}

.formularios{
    @extend .flex-row;
    justify-content: $elementosSeparados;
    align-items: flex-start;
    @include sizes(auto,80rem);
}

.ubicacionBotones{
    text-align: $alinTxt;
}

