#fondo__ayuda{
    background-image:url(../../imagenes/fondo_ayuda.jpg);
    background-position: map-get($desing , centrado);
    background-size: cover;
    @include sizes(100%,100%)
}

.ubi{
    justify-content: map-get($desing , centrado);
    align-items: map-get($desing , centrado);
}

.ubi--Titulo{
    @extend .flex-row, .ubi;
    padding: 3rem;
}

.formularios{
    @extend .flex-row;
    justify-content: map-get($desing , espaciadoEvenly);
    align-items: flex-start;
    @include sizes(auto,80rem);
}

.ubicacionBotones{
    text-align: map-get($desing , centrado);
}

