.videoSize{
    @include sizes(75rem,45rem);
    margin: 2rem;
    @include media-query(mobile){
        @include sizes(35rem,25rem);
        margin: 0rem;
    }
}

#videoSection{
    @include sizes(100%,55rem);
    @extend .flex-row, .espaciadoBeetwen, .alineacion;
    margin: 3rem 0rem 2rem 0rem;
    @include media-query(mobile){
        flex-direction: column;
        margin-bottom: 4rem;
    }
    h4{
        font-size: 5rem;
        margin-left: 5rem;
        @include media-query(mobile){
            font-size: 3rem;
            margin: 0rem;
            text-align: center;
        }
    }
    p{
        font-size: 3rem;
        padding: 3rem;
        @include media-query(mobile){
            font-size: 1.4rem;
            padding: 0rem;
        }
    }
}

#funcionamientoSection{
    h4{
        font-size: 5rem;
        margin-bottom: 1rem;
        @include media-query(mobile){
            font-size: 3rem;
            margin-top: 2rem;
            text-align: center;
        }
    }
    img{
        @include sizes(70rem,70rem);
        margin-bottom: 10rem;
        @include media-query(mobile){
            @include sizes(35rem,35rem);
            margin-left: 1rem;
        }

    }
}

#tablaSection{
    h4{
        font-size: 5rem;
        text-align: center;
        margin: 2rem;
    }
    table{
        background-color: rgba(0,0,0,0.7);
        margin-top: 15rem;
        font-size: 1.3rem;
        tr{
            color: white;
            border: 1px solid white;
            th{
                border: 1px solid white;
                text-align: center;
                padding: 4px;
            }
            td{
                border: 1px solid white;
                padding: 4px;
                font-weight: 500;
            }
        }
    }
    #columnaPrincipal{
        font-weight: 700;
        font-size: 1.5rem;
    }
    @include media-query(mobile){
        display: none;
    }
}

.tablaYfuncionamiento{
    @extend .flex-row, .espaciadoAround;
    @include media-query(mobile){
        flex-direction: column;
    }
}