.imagen{
    @include sizes(60rem,60rem);
}

h3{
    text-align: center;
    font-size: 5rem;
}

p{
    font-size: 2rem;
    margin: 2rem;
    text-align: justify;
}

/* From uiverse.io by @alexruix */
.card {
    width: 182px;
    height: 180px;
    border-radius: 20rem;
    background: black;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    &:hover {
        border-color: #008bf8;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
        .card-button {
            transform: translate(-50%, 50%);
            opacity: 1;
        }
    }
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 2rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.espaciadoBeetwen{
    justify-content: space-between;
}

.espaciadoAround{
    justify-content: space-around;
}

.iconoSize{
    @include sizes(180px,180px);
}