h3{
    text-align: center;
    font-size: 5rem;
}


p{
    font-size: 2rem;
    margin: 2rem;
    text-align: justify;
}

.cards{
    @include sizes(100%,250rem);
}

.espaciadoBeetwen{
    justify-content: space-between;
}

.espaciadoAround{
    justify-content: space-around;
}

.iconoSize{
    @include sizes(70px,70px);
    margin-right: 5rem;
    transition: all 1s ease;
    &:hover{
        transform: scale(1.1)
    }
}

.descripciones{
    @include sizes(100%,200rem);
}

.sizeCard{
    @include sizes(75%,38rem);
    padding: 3rem;
	border-radius: 10px;
    background-image: radial-gradient(circle at 116.45% 25.82%, #774d64 0, #6e4260 12.5%, #63375e 25%, #552b5b 37.5%, #441f59 50%, #2e1557 62.5%, #091056 75%, #000c56 87.5%, #000355 100%);
    color: white;
    button{
        @include sizes(10rem,4rem);
        border-radius: 10px;
        margin-left: 2.5rem;
    }
    &:hover{
        box-shadow: 0px 0px 7px 8px rgba(0,0,0,0.61);
        transition: all 1s ease;
        .imgCard{
            transform: scale(1.05);
        }
        #btc{
                
            .barra{
                width: 150px;
            }
        }
        #eth{
            .barra{
                width: 215px;
            }
        }
        #tusd{
            .barra{
                width: 135px;
            }
        }
        #bnb{
            .barra{
                width: 95px;
            }
        }
        #usdc{
            .barra{
                width: 128px;
            }
        }
    }
    div{
        h4{
            font-size: 5rem;
            margin-left: 2rem;
        }
        p{
            margin:2rem;
        }
    }
    #btc{
        
        .barra{
            background-color: yellow;
        }
    }
    #eth{
        .barra{
            background-color: blue;
        }
    }
    #tusd{
        .barra{
            background-color: green;
        }
    }
    #bnb{
        .barra{
            background-color: yellow;
        }
    }
    #usdc{
        .barra{
            background-color: blue;
        }
    }
}

.alineacionCentral{
    align-items: center;
}
.espaciadoVertical{
    justify-items: space-between;
}
.descripcionCard{
    @include sizes(100%,40rem);
}

.imgCard{
    @include sizes(280px,280px);
    transition: all 1s ease;
}

.barra{
    @include sizes(75px,5px);
    border-radius: 1px;
    margin-left: 2rem;
    transition: width 1s ease;
}