.img_finanzas{
    background-image: url(../../imagenes/finanzas-img.jpg);
}
.img_criptos{
    background-image: url(../../imagenes/banner-index.jpg);
}

.bannerStyle{
    font-family: bebas;
    font-size: 12rem;
}

.efectoParallax{
    background-attachment: fixed;
    background-position: map-get($desing , centrado );
    background-repeat: no-repeat;
    background-size: cover;
}

.estiloTxt{
    padding: 3rem;
    font-size: 2.8rem;
    font-family: profesional;
    text-align: left;
}

.bannerStyle--Negro{
    @extend .bannerStyle;
    text-shadow: map-get($desing , sombraBlanca );
}

.bannerStyle--Blanco{
    @extend .bannerStyle;
    color: map-get($desing , letraBlanca );
    text-shadow: map-get($desing , sombraNegra );
}

#bannerSize{
    @extend .flex-column;
    @include sizes(100%, 23rem);
    justify-content: map-get($desing , centrado );
    align-items: map-get($desing , centrado );
    margin-top: 1rem;
    border:map-get($desing , borde );
}