#infoCriptos{
    margin: 3rem ;
    h3{
        font-size: 4.5rem;
    }
}

#infoFuturos{
    margin: 2rem;
    h3{
        margin-top: 2rem;
        font-size: 4.5rem;
    }
}

#iconosRotando{
    @include sizes(31rem,5rem);
    .iconos{
        @include sizes(45px,45px);
    }
}

#iconoEstatico{
    @include sizes(54rem,6rem);
    .iconos{
        @include sizes(95px,95px);
    }
}