//clase que organiza los elementos de la seccion mercados
.article__mercados{
  @extend .flex-row, .espaciadoAround;
  @include sizes(100%,100%);
  flex-wrap: wrap;
  margin-top: 5rem;
}

//clase que define la organizacion de elementos,estilos de el exterior de la tarjeta, y como se modifica en las vistas mobile y tablet
.tarjetaContorno{
  @extend .flex-column;
  @include sizes(47rem,75rem);
  border: 1px solid black;
  margin: 3rem;
  @include media-query(mobile){
    @include sizes(100%,100%);
    margin: 1rem;
  }
  h2{
    font-size: 3rem;
    margin-left: 1rem;
    text-transform: uppercase;
  }
  .tarjetaContorno--cabezal{
    @include sizes(47rem,4rem);
    font-family: oswald;
    background-color: rgba(255, 255, 255,0.8);
    @include media-query(mobile){
      @include sizes(100%,100%);
    }
  }

}

//clase que define la organizacion, el estilo y vistas de los elementos que ya estan dentro de tarjeta
.tarjetaCuerpo{
  @extend .flex-column;
  @include sizes(47rem,75rem);
  background-image: linear-gradient(0, #8f56ff 0, #3b38ff 50%, #0021e7 100%);
  border-radius: 0px 0px 10px 10px;
  @include media-query(mobile){
    @include sizes(100%,100%);
  }
  img{
    @include sizes(45rem,25rem);
    margin: 1rem 0rem 1rem 1rem;
    @include media-query(mobile){
      @include sizes(100%,100%);
    }
  }
  p{
    margin: 1rem;
    font-size: 1.5rem;
    @include media-query(mobile){
      font-size: 1.4rem;
    }
  }
  

  .button {
    @include seteoLetra(oswald,2rem,center,none,uppercase,black);
    @include sizes(9rem,4rem);
    margin: 1rem;
    border: none;
    font-weight: 500;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    //agrego un efecto al boton a la hora de posar el cursor sobre este, y como se modifica esto en las vistas mobile y tablet
    &:hover{
      background-color: #23c483;
      box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
      transform: translateY(-7px);
      @include media-query(mobile){
        box-shadow: none;
        transform: none;
      }
      @include media-query(tablet){
        box-shadow: none;
        transform: none;
      }
    }
    //agrego efecto al boton a la hora de darle click, y como se modifica esto en las vistas mobile y tablet
    &:active{
      transform: translateY(-1px);
      @include media-query(mobile){
        transform: none;
      }
      @include media-query(tablet){
        transform: none;
      }
    }
    
  }
  
}

