#mercados__article{
    @extend .flex-column;
    justify-content: $elementosSeparados;
    @include sizes(auto,240rem);
}

.pagina{
    @extend .flex-row;
    background-color: $colorNav_Footer;
    @include sizes(auto, 45rem);
}

.imgMercados{
    background-image: url(../../imagenes/exchangeBanner-img.jpg);
}

.pagina--Der{
    @extend .pagina;
}

.pagina--Izq{
    @extend .pagina;
    flex-direction: row-reverse;
}

.tituloYparrafo{
    @include sizes(50%,auto);
}

.imgLink{
    @extend .flex-row;
    justify-content: $alinTxt;
    @include sizes(50%,100%);
}

.img__mercados--secciones{
    @include sizes(80rem,100%);
}

.descripcionTitulo{
    font-family: bebas;
    font-size: 7rem;
    text-decoration: $subrayado;
    text-align: $alinTxt;
    color: $letraBlanca;
}

.estiloTxtDescripciones{
    font-family: profesional;
    font-size: 2.7rem;
    line-height: 0.9;
    margin: 2rem;
    text-align: $alinJusti;
    color: $letraBlanca;
}
