//importacion de todas las fuentes utilizadas en la pagina, todas descargadas en la carpeta fuentes del proyecto

@font-face {
    font-family: oswald;
    src: url(../../fuentes/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: nunito;
    src: url(../../fuentes/Nunito-MediumItalic.ttf);
}

@font-face {
    font-family: amatic;
    src: url(../../fuentes/AmaticSC-Bold.ttf);
}