@font-face {
    font-family: bebas;
    src: url(../../fuentes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: profesional;
    src: url(../../fuentes/RobotoMono-Italic-VariableFont_wght.ttf);
}

